@import "tailwindcss";
@plugin "daisyui";


/* Configure your custom theme */
@plugin "daisyui" {
  themes: light --default, dark;
}

/* Custom theme colors */
[data-theme="light"] {
  --color-primary: #C6D870;
  --color-secondary: #f6d860;
  --color-accent: #37cdbe;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.custom-select {
  appearance: none;        /* removes native arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #C6D870;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: none;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}